{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Se connecter</h1>
    <div class="frow">
    <label for="inputEmail">Email</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
    </div>
    <div class="frow">
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
