{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<div>
        <div class="lightgrey">
        <h1 class="titre">Produits</h1>
            {{ form_start(formRender) }}
                <div class="searchbar">
                <div class="smallmargin">
		        {{ form_row(formRender.text) }}
                </div>
		        <button type="submit">Rechercher</button>
                </div>
		    {{ form_end(formRender) }}
        </div>
        <div class="list">
            <p>{{search}}</p>
            {% for product in pagination %}
            <div class="product">
                <a class="nostyle margin" href="{{path('product', {id: product.id, alert: 'ref'})}}">
                    <div>
                        <p>{{product.title}}</p>
                        <img src="{{product.image}}" alt="image du produit présenté : {{product.title}}">
                        <p>prix : {{product.price}}</p>
                        {% if product.stock > 0 %}<p class="stock">quantité : {{product.stock}}</p>{% endif %}
                        {% if product.stock < 1 %}<p class="ref">quantité : {{product.stock}}</p>{% endif %}
                        </div>
                </a>
                </div>
            {% endfor %}
        </div>
        <div align="center" class='navigation center'>
		    {{ knp_pagination_render(pagination) }}
		</div>
</div>
{% endblock %}
