{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>
    <div>
    {{ form_start(registrationForm) }}
        <div class="frow">
        {{ form_row(registrationForm.firstname, {
            label: 'prenom * '
        }) }}
        </div>
        <div class="frow">
        {{ form_row(registrationForm.lastname, {
            label: 'nom * '
        }) }}
        </div>
        <div class="frow">
        {{ form_row(registrationForm.address, {
            label: 'addresse '
        }) }}
        </div>
        <div class="frow">
        {{ form_row(registrationForm.email, {
            label: 'email * '
        }) }}
        </div>
        <div class="frow">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe * '
        }) }}
        </div>
        <button type="submit">Valider</button>
    {{ form_end(registrationForm) }}
    <p> * requis </p>
    </div>
{% endblock %}
