{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}

<div>
    <h1>Ajouter un commentaire</h1>
    <div class="middle">
            {{ form_start(formRender) }}
		        {{ form_row(formRender.Content, { 'label': 'Votre message','label_attr': {'class': 'input'}, 'attr': {'placeholder': 'Votre message'}}) }}
		        <button type="submit">Publier</button>
		    {{ form_end(formRender) }}
        </div>
</div>
{% endblock %}
