<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}upload une image{% endblock %}</title>
        <link rel="icon" href="/../img/logo.png">
        <link rel="stylesheet" href="/style.css">
        <html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

{% block body %}
<div>
        {{ form_start(formRender) }}
		{{ form_row(formRender.images) }}
		<button type="submit" class="btn">Upload</button>
		{{ form_end(formRender) }}
</div>
{% endblock %}
