<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}lien de l'miage uploadée{% endblock %}</title>
        <link rel="icon" href="/../img/logo.png">
        <link rel="stylesheet" href="/style.css">
        <html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

{% block body %}
<div>
    <p>voici le lien vers l'image que vous avez upload, merci de le noter scrupulesement, pour le mettre dans la columne "image" du produit ajouté : </br> <p class="lienimage">{{link}}</p></p>

    <p>Retour vers le dashboard > <a href="{{path('admin')}}">dahsboard</a> < </p>
</div>
{% endblock %}
</body>
</html>