@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    font-weight: 300;
    color: black !important;
}

nav{
    font-family: 'Bangers', cursive;
    margin: 1%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 0px;
    border-bottom: 2px;
    max-width: none !important;
    background-color: rgb(255, 255, 101);
}

.navlink{
    text-decoration: none;
    color: black;
    margin: 1%;
    margin-left: 5%;
    font-size: 30px;
}

img{
    width: 300px;
    height: auto;
    object-fit: cover;
    padding-bottom: 10px;
    padding-top: 5px;
}

form{
    text-align: right;
    margin-right: 40%;
}

button{
    background-color: black;
    color: white;
    margin: 2px !important;
    padding: 7px;
    border-width: 1px;
    border-color: rgb(50, 50, 50);
    border-radius: 15px !important;
}

button:hover{
    cursor: pointer;
}

label{
    padding-right: 2px;
}

.logo{
    width:auto;
    height: 80px;
    padding-right: 30px;
}

.nostyle{
    text-decoration: none;
    color: black;
}

.nostyle:hover{
    color: black;
}

.middle{
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}

.lienimage{
    color: rgb(69, 26, 26)
}

.list {
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
}

.margin{
    margin: 10%;
}

.searchbar{
    display: flex;
    justify-content: end;
}

.product{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(188, 188, 188);
    border-radius: 25px;
    min-height: 200px;
    margin: 10px;
}

.product:hover{
    background-color: rgb(232, 232, 232);
}

.comment{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(188, 188, 188);
    border-radius: 25px;
    min-height: 100px;
    padding: 10px;
}

.frow{
    margin: 1%;
}

.tleft{
    text-align: left;
    display: flex;
}

.tright{
    text-align: right;
}

.lcolumn{
    display: flex;
    width: 300px;
}

.input{
    display: none;
}

.titre{
    font-size: 30px;
    font-weight: bold;
}

.smalltitre{
    font-size: 20px;
    font-weight: 200;
}

.lightgrey{
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgb(253, 249, 171);
}

.smallmargin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ref{
    color: rgb(175, 0, 0);
    font-weight: bold;
}

.alert{
    color: rgb(175, 0, 0);
    font-weight: bolder;
    font-size: 40px;
}

.stock{
    color: rgb(22, 125, 22);
    font-weight: 400;
}

.center{
    margin-left: 50%;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 850px) {
    form{
        margin-left: 20%;
        margin-right: 20%;
    }
    .list{
        margin-left: 5%;
        margin-right: 5%;
    }
    .searchbar{
        display: block;
    }

    img{
        width: 220px;
    }

    .logo{
        height: 60px;
        width: auto;
        padding-right: 3px;
    }

    .column{
        display: grid;
    }

    .navlink{
        width: 100px;
        font-size: 20px;
    }

    .lcolumn{
        width: 100px;
    }

}

