<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tag Product{% endblock %}</title>
        <link rel="icon" href="/../img/logo.png">
        <link rel="stylesheet" href="/style.css">
        <html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

{% block body %}
<div>
        <div class="lightgrey">
        <h1 class="titre">Produits</h1>
        </div>
        <div class="list">
            {% for product in pagination %}
                        <p>{{product.title}}</p>
                        {% for item in tag %}
                            <a href="{{path('addtag', {id: product.id, tag: item.id})}}">Add {{item.name}}</a>
                        {% endfor %}
            {% endfor %}
        </div>
        <div align="center" class='navigation'>
		    {{ knp_pagination_render(pagination) }}
		</div>
</div>
{% endblock %}
