{% extends 'base.html.twig' %}

{% block title %}the product{% endblock %}

{% block body %}

<div class="list">
    <h1 class="titre">{{product.title}}</h1>
    <img src="{{product.image}}" alt="image du produit présenté">
    <p>prix : {{product.price}}</p>
    {% if product.stock > 0 %}<p class="stock">quantité : {{product.stock}}</p>{% endif %}
    {% if product.stock < 1 %}<p class="{{alert}}">quantité : {{product.stock}}</p>{% endif %}
    <p>{{product.description}}</p>
    <p><a href="{{path('addbasket', {id: product.id})}}">Ajouter au panier</a></p>
    <p><a href="{{path('addcomment', {id: product.id})}}">Publier un commentaire</a></p>
    </br>
    
    <h2 class="titre">Commentaires</h2>
    {% for comment in comments %}
        <div class="comment margin">
        <p class="smalltitre">de : {{comment.User.firstname}}</p>
        <p>{{comment.content}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
