{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

<div>
    <h1>Mon panier</h1>
    <div class="list">
    {% for item in product %}
                <a class="nostyle margin" href="{{path('product', {id: item.id})}}">
                    <div class="product">
                        <p>{{item.Product.title}}</p>
                        <img src="{{item.Product.image}}" alt="image du produit présenté">
                        <p>prix : {{item.Product.price}}</p>
                        <p>quantité restante : {{item.Product.stock}}</p>
                        </div>
                </a>
            {% endfor %}
    </div>
</div>
{% endblock %}
